
<style>
        @media (max-width:379px){
            .small{
                font-size:.3em;
            }
        }
</style>
<style>
        @media (max-width:300px){
            .small{
                font-size:1em;
            }
        }
</style>
<style>
        @media (max-width:379px){
            .less{
                font-size:1em;
            }
        }
</style>


<h1 class="text-center" style="padding-top:1em">Bem vindo, <%=current_admin.first_name%></h1>
<br><br>
<h1 class="text-center less" style="font-weight: bold;">Escala do mês de Outubro/2022</h1>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead class="small">
        <tr>
            <th>Data</th>
            <th>Manhã</th>
            <th>Noite</th>
        </tr>
    </thead>
    <tbody class="small">
        <tr>
            <td>02</td>
            <td>João Marcelo/Edésio</td>
            <td>Valter/Gerson/Otavio</td>
        </tr>
        <tr>
            <td>05(quarta feira)</td>
            <td>---</td>
            <td>Jason</td>
        </tr>
        <tr>
            <td>09</td>
            <td>Edmilson/Jason</td>
            <td>Marcelo/Rafael/Ivan</td>
        </tr>
        <tr>
            <td>12(quarta feira)</td>
            <td>---</td>
            <td>Edmilson</td>
        </tr>
        <tr>
            <td>16</td>
            <td>João Marcelo/Edésio</td>
            <td>Valter/Gerson/Ronald</td>
        </tr>
        <tr>
            <td>19(quarta feira)</td>
            <td>---</td>
            <td>Eliezer</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Valter/Eliezer</td>
            <td>João Marcelo/Edésio/Otavio</td>
        </tr>
        <tr>
            <td>26(quarta feira)</td>
            <td>---</td>
            <td>Valter</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Marcelo/Gerson</td>
            <td>Valter/Eliezer/Ivan</td>
        </tr>
    </tbody>
</table>        
