
<style>
        @media (max-width:379px){
            .small{
                font-size:.3em;
            }
        }
</style>
<style>
        @media (max-width:300px){
            .small{
                font-size:1em;
            }
        }
</style>
<style>
        @media (max-width:379px){
            .less{
                font-size:1em;
            }
        }
</style>


<h1 class="text-center" style="padding-top:1em">Bem vindo, <%=current_admin.first_name%></h1>
<br><br>
<h1 class="text-center less" style="font-weight: bold;">Escala do mês de Dezembro/2022</h1>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead class="small">
        <tr>
            <th>Data</th>
            <th>Manhã</th>
            <th>Noite</th>
        </tr>
    </thead>
    <tbody class="small">
        <tr>
            <td>04</td>
            <td>Edesio/Gerson</td>
            <td>Rafael/João Marcelo/Otavio</td>
        </tr>
        <tr>
            <td>07(quarta feira)</td>
            <td>---</td>
            <td>Jason</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Jason/Edmilson</td>
            <td>Eliezer/Marcelo/Ivan</td>
        </tr>
        <tr>
            <td>14(quarta feira)</td>
            <td>---</td>
            <td>Edmilson</td>
        </tr>
        <tr>18</td>
            <td>Marcelo/Rafael</td>
            <td>João MarceloValter/Ronald</td>
        </tr>
        <tr>
            <td>21(quarta feira)</td>
            <td>---</td>
            <td>Eliezer</td>
        </tr>
        <tr>
            <td>25</td>
            <td>Valter/Gerson</td>
            <td>Marcelo/Edesio/Otavio</td>
        </tr>
        <tr>
            <td>28(quarta feira)</td>
            <td>---</td>
            <td>Marcelo</td>
        </tr>
       
    </tbody>
</table>        
